<form [formGroup]="regForm">
    <input type="text" formControlName="firstName"> firstname <br>
    <input type="text" formControlName="lastName"> lastName <br>
    <input type="text" formControlName="dateOfBirth"> dateOfBirth <br>
    <input type="text" formControlName="dateOfDeath"> dateOfDeath <br>
    <input type="text" formControlName="description"> description <br>
    <input type="button" value="Submit" (click)="onSubmit(regForm.value)">
    <input type="button" value="Remove" (click)="onRemove(regForm.value)">

</form>

<div *ngFor="let something of data">
    <p>{{ something.firstName }}</p>
    <p>{{ something.lastName }}</p>
    <p>{{ something.dateOfBirth }}</p>
    <p>{{ something.dateOfDeath }}</p>
    <p>{{ something.description }}</p>
</div>
<router-outlet></router-outlet>